<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="Console">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{YYYY-MM-dd-HH:mm:ss.SSS}-%(%level)-[%(%t)]-[%(%replace(%X{CORRELATION_ID}))]-%msg%throwable%n
            </Pattern>
        </layout>
    </appender>

    <logger additivity="false" level="INFO" name="com.assignment.drones">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework" level="info"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
